<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать человека</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/v1/persons/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Введите Имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="email">Введите Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <input type="submit" value="Редактировать!"/>
</form>
<br><br/><hr>
<a href="/v1/persons"><button>На страницу с пользователями</button></a>
<br><br/>
<a href="/v1/persons/new"><button>Добавить нового пользователя в базу данных</button></a>
<br><br/>
<a href="/v1/persons/search"><button>Искать пользователей по произвольному запросу</button></a>
<br><br>
<a href="/v1/persons/find"><button>Выбрать пользователя по точным данным</button></a>
<hr><br><br/>
</body>
</html>