<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h3><a href="/v1"><button>НА ГЛАВНУЮ СТРАНИЦУ</button></a></h3>
<form th:method="POST" th:action="@{/v1/persons/find}" th:object="${person}">
    <label for="name"> Введите точное Имя для поиска: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <input type="submit" value="Найти по имени!"/>
    <br/>
</form>
<br/>
<form th:method="POST" th:action="@{/v1/persons/find}" th:object="${person}">
    <label for="email">Введите точный Email для поиска: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <input type="submit" value="Найти по поиску!"/>
    <br/>
</form>
<br><br/><hr>
<a href="/v1/persons"><button>На страницу с пользователями</button></a>
<br><br/>
<a href="/v1/persons/new"><button>Добавить нового пользователя в базу данных</button></a>
<br><br/>
<a href="/v1/persons/search"><button>Искать пользователей по произвольному запросу</button></a>
<br><br>
<a href="/v1/persons/find"><button>Выбрать пользователя по точным данным</button></a>
<hr><br><br/>
</body>
</html>