<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Show</title>
</head>
<body>
<h3><a href="/v1"><button>НА ГЛАВНУЮ СТРАНИЦУ</button></a></h3>
<h3><a href="/v1/persons"><button>На страницу с пользователями</button></a></h3>
<div th:if="${person != null}">
<h1><p th:text="${person.getId() + ', ' + person.getName() + ', ' + person.getEmail()}">VALUE</p></h1>
<br>
<hr>
</div>
<div th:if="${companies == null}">
<form th:method="GET" th:action="@{/v1/persons/{id}/groups(id=${person.getId()})}">
    <input type="submit"  value="Показать группы"/>
</form>
</div>
<div th:if="${companies == null || companies.isEmpty()}">
    <h3> <span>Группы, где Вы участник не найдены</span></h3>
</div>

<div th:if="${companies != null && !companies.isEmpty()}">
    <h3><span>Группы, где вы участник:</span></h3>
    <div th:each="company : ${companies}">
        <form th:method="GET" th:action="@{/v1/persons/{id}/groups/{idc}(idc=${company.getId()}, id=${person.getId()})}"
              th:object="${company}">
            <span th:text="${company.getId() + ', ' + company.getName()}"></span>
            <button type="submit">Выбрать группу</button>
        </form>
    </div>
</div>
<br>

<div th:if="${ownedCompanies != null && ownedCompanies.isEmpty()}">
    <h3> <span>Группы, где Вы владелец не найдены</span></h3>
</div>

<div th:if="${ownedCompanies != null && !ownedCompanies.isEmpty()}">
    <h3><span>Группы, где вы владелец:</span></h3>
    <div th:each="ownedCompany : ${ownedCompanies}">
        <form th:method="GET" th:action="@{/v1/persons/{id}/groups/{idc}(idc=${ownedCompany.getId()}, id=${person.getId()})}"
              th:object="${company}">
            <span th:text="${ownedCompany.getId() + ', ' + ownedCompany.getName()}"></span>
            <button type="submit">Выбрать группу</button>
        </form>
    </div>
</div>
<br>
<form th:method="GET" th:action="@{/v1/persons/{id}/groups/new(id=${person.getId()})}">
    <input type="submit" value="Создать новую группу"/>
</form>
<br>
<hr>
<br>
<form th:method="GET" th:action="@{/v1/persons/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать данные пользователя"/>
</form>
<br>
<form th:method="DELETE" th:action="@{/v1/persons/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить данные пользователя"/>
</form>
</body>
</html>