<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<hr/>
<br/>
<div th:if="${person == null}">
    <span>Такого пользователя нет</span>
</div>
    <div th:each="person : ${person}">
        <a th:href="@{/v1/persons/{id}(id=${person.getId()})}"
           th:text="${person.getName() + ', ' + person.getEmail()}">user</a>
    </div>
</div>

<br><br/><hr>
<a href="/v1/persons"><button>На страницу с пользователями</button></a>
<br><br/>
<a href="/v1/persons/new"><button>Добавить нового пользователя в базу данных</button></a>
<br><br/>
<a href="/v1/persons/search"><button>Искать пользователей по произвольному запросу</button></a>
<br><br>
<a href="/v1/persons/find"><button>Выбрать пользователя по точным данным</button></a>
<hr><br><br/>

</body>
</html>