<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать группу</title>
</head>
<body>
<h3><a href="/v1">
    <button>НА ГЛАВНУЮ СТРАНИЦУ</button>
</a></h3>
<form th:method="PATCH"
      th:action="@{/v1/persons/{id}/groups/{idc}(id=${personId}, idc=${companyId})}"
      th:object="${company}">
    <label for="name">Введите новое Название группы: </label>
    <input type="text" th:field="*{name}" id="companyName"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <input type="submit" value="Сменить название"/>
</form>
<br/>
<div th:if="${company != null}">
    <h1><a th:text="${company.getId() + ',  ' + company.getName()}">VALUE</a></h1>
    <div th:if="${company.getOwner() != null}">
        <h2><span>Владелец группы: </span><a th:text="${company.getOwner().getName()}">VALUE</a></h2>
    </div>
    <div th:if="${company.getPersons() == null || company.getPersons().isEmpty()}">
        <h3><span>Участники в группе не найдены</span></h3>
    </div>

    <div th:if="${company.getPersons() != null}">
        <div th:if="${!company.getPersons().isEmpty()}">
            <h3><span>Участники в группе:</span></h3>
            <div th:each="person : ${company.getPersons()}">
                <form th:method="PATCH" th:action="@{/v1/persons/{id}/groups/{idc}/remove(id=${personId}, idc=${companyId})}"
                      th:object="${person}">
                    <span th:text="${person.getId() + ', ' + person.getName() + ', ' + person.getEmail()}"></span>
                    <button type="submit" name="id" id="personToRemoveId" th:value="${person.getId()}">Удалить из группы</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br/>
<hr>
<h3><span>Добавление новых участников в группу:</span></h3>
<form th:method="POST" th:action="@{/v1/persons/{id}/groups/{idc}(id=${personId}, idc=${companyId})}">
    <label for="name">Введите поисковой запрос по имени: </label>
    <input type="text" id="name" name="name"/>
    <input type="hidden" th:name="id" th:value="${company.getId()}"/>
    <br/>
    <input type="submit" value="Искать человека по имени!"/>
</form>
<form th:method="POST" th:action="@{/v1/persons/{id}/groups/{idc}(id=${personId}, idc=${companyId})}">
    <label for="email">Введите поисковой запрос по почте: </label>
    <input type="text" id="email" name="email"/>
    <input type="hidden" th:name="id" th:value="${company.getId()}"/>
    <br/>
    <input type="submit" value="Искать человека по почте!"/>
</form>
<div th:if="${personsResponse != null}">
    <h4><span>Найдены люди по запросу из всей базы:</span></h4>
    <form th:method="PATCH"
          th:action="@{/v1/persons/{id}/groups/{idc}/add(id=${personId},idc=${companyId})}">
        <label for="personToAdd">Выберите человека</label>
        <select th:object="${person}"
                name="id"
                id="personToAdd">
            <option th:each="person : ${personsResponse}"
                    th:value="${person.getId()}"
                    th:text="${person.getName() + ', ' + person.getEmail()}">
            </option>
        </select>
        <input type="submit" value="Добавить в группу"/>
    </form>
</div>


<br><br/>
<hr>
<h3><span>Операции с группой:</span></h3>
<form th:method="GET" th:action="@{/v1/persons/{id}/groups(id=${personId})}">
    <input type="submit" value="На страницу с группами"/>
</form>
<hr>
<br><br/>
</body>
</html>