<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Show</title>
</head>
<body>
<h3><a href="/v1"><button>НА ГЛАВНУЮ СТРАНИЦУ</button></a></h3>
<h3><a href="/v1/groups"><button>На страницу с Группами</button></a></h3>
<h1><a th:text="${company.getId() + ',  ' + company.getName()}">VALUE</a></h1>
<div th:if="${persons.isEmpty()}">
    <h3> <span>Участники в группе не найдены</span></h3>
</div>
<div th:if="${!persons.isEmpty()}">
    <h3><span>Участники в группе:</span></h3>

    <div th:each="person : ${persons}">
        <form th:method="PATCH" th:action="@{/v1/groups/{idc}/remove(idc=${company.getId()})}"
              th:object="${person}">
            <span th:text="${person.getId() + ', ' + person.getName() + ', ' + person.getEmail()}"></span>
            <button type="submit" name = "id" id="personToRemoveId" th:value="${person.getId()}">Удалить из группы</button>
        </form>
    </div>

</div>
<br>
<!--Поиск участников для добавления в группу-->
<hr/>
<h3><span>Добавление новых участников в группу:</span></h3>
<form th:method="POST" th:action="@{/v1/groups/searchPerson}">
    <label for="name">Введите поисковой запрос по имени: </label>
    <input type="text" id="name" name="name"/>
    <input type="hidden" th:name="id" th:value="${company.getId()}"/>
    <br/>
    <input type="submit" value="Искать человека по имени!"/>
</form>
<form th:method="POST" th:action="@{/v1/groups/searchPerson}">
    <label for="email">Введите поисковой запрос по почте: </label>
    <input type="text" id="email" name="email"/>
    <input type="hidden" th:name="id" th:value="${company.getId()}"/>
    <br/>
    <input type="submit" value="Искать человека по почте!"/>
</form>
    <div th:if="${personsResponse != null}">
    <h4><span>Найдены люди по запросу из всей базы:</span></h4>
        <form th:method="PATCH"
              th:action="@{/v1/groups/{idc}/add(idc=${company.getId()})}">
            <label for="personId">Выберите человека</label>
            <select th:object="${person}"
                    name = "id"
                    id="personId">
                <option th:each="person : ${personsResponse}"
                        th:value="${person.getId()}"
                        th:text="${person.getName() + ', ' + person.getEmail()}">
                </option>
            </select>
            <input type="submit" value="Добавить в группу"/>
        </form>
    </div>
<hr/>
<h3><span>Операции с группой:</span></h3>
<div th:if="${company}">
        <form  th:action="@{/v1/groups/{id}/release(id=${company.getId()})}">
        <input type="submit" value="Очистить группу"/>
    </form>
</div>
<form th:method="GET" th:action="@{/v1/groups/{id}/edit(id=${company.getId()})}">
    <input type="submit" value="Редактировать группу"/>
</form>

<form th:method="DELETE" th:action="@{/v1/groups/{id}(id=${company.getId()})}">
    <input type="submit" value="Удалить группу"/>
</form>
</body>
</html>